body {
  margin: 0;
}

.preview-dialog .el-dialog__header {
  display: none;
}

.preview-dialog .el-dialog__body {
  padding: 0;
}

.preview-dialog .el-overlay-dialog {
  background-color: rgba(0, 0, 0, 0.5);
}